.features {
  background: #fff;
  padding: 96px 0;
  /*padding: 120px 0;*/
}
.title-features {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /*gap: 24px;*/
}
.features-item {
  margin-right: 16px;
  margin-left: 16px;
  width: 100%;

  /* flex-basis: calc((100% - 3 * 24px) / 4);*/
}
.features-item-title {
  /*font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
 margin-bottom: 8px;*/
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-description {
  /*font-weight: 400;*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
  /*text-align: center;*/
  margin-top: 8px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.div-features-icon {
  display: none;
}
/*display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.icon-features {
  fill: #f4f4fd;
}*/
